<a href="https://colab.research.google.com/github/huijeong99/python_OZ/blob/main/Ch21_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [ ]:
def user(name, age):
    print(f"안녕하세요, {name}님! 당신은 {age}살입니다.")

    return

name = input("이름 입력")
age = input("나이 입력")

print(user(name,age))

이름 입력d
나이 입력e
안녕하세요, d님! 당신은 e살입니다.
None

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [ ]:
def sum_numbers(*numbers):
    return sum(numbers)

input_numbers_str = input("숫자 입력").split(',')
input_numbers = [int(num) for num in input_numbers_str]

print(sum_numbers(*input_numbers))

숫자 입력1,5,2,4
12

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [ ]:
def print_name(name="익명"):
    print(name)

print_name()

익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [ ]:
from ast import NodeTransformer
def info(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

name = input("이름 입력")
age = input("나이 입력")
gender = input("성별 입력")

info(name=name, age=age, gender=gender)

이름 입력나희정
나이 입력13
성별 입력여
name: 나희정
age: 13
gender: 여

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [17]:
def add(a: int, b: int) -> int:
    return a + b

num1_str = input("첫번째 정수")
num2_str = input("두번째 정수")

num1 = int(num1_str)
num2 = int(num2_str)

print(add(num1,num2))

첫번째 정수3
두번째 정수6
9

63---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [20]:
def odd_numbers(n):
    for i in range(n):
        if i % 2 != 0:
            yield i

count_str = input("숫자 갯수")
count = int(count_str)

for num in odd_numbers(count):
    print(num)

숫자 갯수8
1
3
5
7

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [21]:
add = lambda x, y: x + y

num1 = int(input("첫번째 숫자"))
num2 = int(input("두번째 숫자"))

print(add(num1, num2))

첫번째 숫자4
두번째 숫자6
10

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [26]:
def min_max(numbers):
    min_num = min(numbers)
    max_num = max(numbers)
    return min_num, max_num

while True:
    try:
        num1_str = input("첫번째 숫자")
        num2_str = input("두번째 숫자")
        num3_str = input("세번째 숫자")

        num1 = int(num1_str)
        num2 = int(num2_str)
        num3 = int(num3_str)

        numbers = (num1, num2, num3)
        min_val, max_val = min_max(numbers)
        print(f"최소값: {min_val}, 최대값: {max_val}")
        break
    except ValueError:
        print("잘못된 입력입니다. 숫자를 입력해주세요.")

        #숫자 입력 잘못했을 때 오류나는 거 고침

첫번째 숫자5
두번째 숫자
세번째 숫자6
잘못된 입력입니다. 숫자를 입력해주세요.
첫번째 숫자1
두번째 숫자6
세번째 숫자4
최소값: 1, 최대값: 6

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [29]:
def is_even(number):
    return number % 2 == 0

num = int(input("숫자를 입력하세요"))
print(is_even(num))

숫자를 입력하세요6
True

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [30]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("숫자 입력"))

print(factorial(num))

#오답노트 : 들여쓰기!!!!!

숫자 입력4
24

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [35]:
def print_lengths(strings):
    for string in strings:
        print(len(string))

string = input("문자열을 입력하세요")

print_lengths(string)

#뭔가..뭔가 문제가 있다. 나중에 다시 볼 것

문자열을 입력하세요apple
1
1
1
1
1

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [34]:
str1 = str(input("첫번째 문자열"))
str2 = str(input("두번째 문자열"))

def longer_string(str1, str2):
    if len(str1) >= len(str2):
        return str1
    else:
        return str2

print(longer_string(str1, str2))

첫번째 문자열apple
두번째 문자열age
apple